.card{
    border: 1px solid #ccc5c5;
    border-radius: 8px;
    padding: 16px;
  max-width: 300px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

.btn_buy{
  padding: 10px 65px;
  color: #fff;
}
.total{
  margin: 0 5px;
}
.price{
  padding: 5px;
  margin: 5px;
}
.productImage{
  max-width: 300px;
  height: 200px;
  border-radius: 8px;
}
.title_product{
  padding: 5px 0 10px;
}